.load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profileWrapper {
    display: flex;
}

.profileMain {
    margin: 50px 100px;
    display: flex;
    height: 20%;
    width: 70%;
    flex-direction: column;
}

.profileInfo {
    display: flex;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-repeat: no-repeat !important;
}

.details {
    margin: 20px 0 0 80px;
}

.details h2 {
    font-weight: 100;
    margin-bottom: 20px;
}

.posts {
    border-top: 1px solid #ebeaea;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.posts p {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts .videos > * {
    margin-left: 29px;
}